

@font-face {
    font-family: 'Founders Grotesk Regular';
    src: url('FoundersGrotesk-Regular.eot');
    src: url('FoundersGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('FoundersGrotesk-Regular.woff2') format('woff2'),
        url('FoundersGrotesk-Regular.woff') format('woff'),
        url('FoundersGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Founders Grotesk Bold';
    src: url('FoundersGrotesk-Bold.eot');
    src: url('FoundersGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('FoundersGrotesk-Bold.woff2') format('woff2'),
        url('FoundersGrotesk-Bold.woff') format('woff'),
        url('FoundersGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

