$backgroundColor: #D1A666;
$mainTextColor: #FAFAD9;
$placeHolderColor:#7a7a68;
$greyWhite: #E6E6D3; 
$lightbackground: #FAFAD9;

$venueTag: #ed383d;
$atmosphereTag: #f28849;
$specialtyTag: #ffd64f;

$tagBorder: #261d1d;
$blackRed: #24111B; 

$green: #7aba7c;


$red: #BB1F1F;
